.titulopagina{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background: rgb(77,0,0);
    background: linear-gradient(0deg, rgba(77,0,0,1) 15%, rgba(235,21,21,1) 49%, rgba(77,0,0,1) 87%);
    color:rgb(255, 255, 255);
    padding: 12px;
    
}